@model UserDTO

@{
    ViewData["Title"] = "Statistics";
}


@await Html.PartialAsync("_LinksStatistics")



@*@if (Model == null)
{
    <h1>Nothing here ,captin!</h1>
}
else
{
    @await Html.PartialAsync("_LinksStatistics")
}*@